name: Auto Update Servers

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Fetch links
        run: python lab/fetch.py  # اجرای فایل از داخل پوشه lab

      - name: Commit updates
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add lab/servers.txt
          git commit -m "Auto update: $(date)" || echo "No changes"
          git push
